---
BasedOnStyle: Google
Language: Cpp
TabWidth: 4
UseTab: Never
ColumnLimit: 120
NamespaceIndentation: All

AccessModifierOffset: -4
ContinuationIndentWidth: 4
IndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
    AfterStruct: true
    AfterClass: true
    AfterFunction: true
    AfterControlStatement: false
    AfterEnum: true
    AfterNamespace: true

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignTrailingComments: true
ReflowComments: false
SortIncludes: true

IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
...
